.background {
    background-color: aliceblue;
    padding: 20px;
    width: 450px;
    height: 290px;
    border: 1px solid black;
    border-radius: 10px;
    flex-direction: row;
    
    justify-content: space-between;
}

.Counter_button {
    width: 100px;
    height:100px;
    font-size: 20px;
    margin: 0 10px;
}

span {
    font-size: 20px;
    margin: 0 10px;
    flood-color: black;
    color: black;
}
h1 {
    position: absolute;
    top: 0;
    left: 50%;  
    transform: translateX(-50%);
}
.Buttons_panel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}   